$txt-color: #000;
$background-primary: #fff;
$background-secondary: #f3f3f3;
$strokes-primary: #d4d4d4;
$strokes-primary-second: #d5d5d5;
$strokes-secondary: #e6e6e6;
$error: #f00000;
$background-hover: #eee;
$gray-color: #838383;
$logo-background: #feff80;
