.container {
    box-sizing: border-box;
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;

    background: #000000;
    opacity: 0.3;

    height: 100%;

    &__editor {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        padding: 30px;

        position: absolute;
        width: 600px;
        height: 579px;
        left: calc(50% - 600px / 2);
        top: calc(50% - 579px / 2);

        background: #ffffff;

        border: 1px solid #e6e6e6;
        border-radius: 5px;

        z-index: 1;

        & section {
            width: 100%;
        }

        & section input {
            width: inherit;
        }

        & section:last-child,
        section:last-child section {
            height: 100%;
        }
    }

    &__title {
        padding-bottom: 10px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;

        color: #000000;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    &__label {
        padding-top: 15px;
        padding-bottom: 5px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;

        color: #838383;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    &__rows {
        display: grid;

        grid-template-rows: 154px auto;
    }

    &__buttons {
        padding-top: 25px;

        display: grid;

        gap: 10px;

        grid-template-columns: 1fr 1fr;

        & button {
            padding: 0;
            height: 50px;
            width: inherit;
        }
    }
}

.address {
    display: grid;
    grid-template-columns: auto 1fr;

    border: 1px solid #d5d5d5;
    border-radius: 5px;

    &__prefix {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        gap: 10px;

        border-right: 1px solid #d5d5d5 !important;

        background: #f3f3f3;

        z-index: -1;
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;

        color: #838383;
    }

    & section {
        width: auto;
        border: none;
    }
}
