.button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 33px;

    width: 114px;
    height: 40px;

    background: #ffffff;

    border: 1px solid #d5d5d5;
    border-radius: 5px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    color: #000000;

    &:hover {
        background: #eee;
        transition: all 100ms ease-in-out;
    }
}
