@import '@/app/index.scss';

.button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 33px;

    width: 114px;
    height: 40px;

    background: $background-primary;

    border: 1px solid $strokes-primary;
    border-radius: 5px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    color: $txt-color;

    &:hover {
        background: $background-hover;
        transition: all 100ms ease-in-out;
    }
}
