.layout__main {
    display: flex;
    justify-content: center;
}

.main {
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: repeat(4, min-content);
}

.avatar {
    margin-top: -50px;
}

.letter {
    position: absolute;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.email {
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 3;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: #838383;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.description {
    padding-top: 30px;

    grid-column-start: 1;
    grid-column-end: 3;

    max-width: 600px;
    min-height: 130px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: #000000;
}

.button {
    padding-top: 60px;
}

.heading {
    display: flex;

    grid-column-end: 2;
}

@media screen and (max-width: 640px) {
    .main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, min-content) auto;
    }

    .layout__main {
        padding: 30px;
    }

    .email,
    .description,
    .heading {
        grid-column-end: auto;
    }

    .edit {
        margin-top: inherit;
        padding-top: 10px;
        padding-left: inherit;

        grid-row: 4;
    }

    .avatar {
        margin-top: -80px;
    }
}
