@import '@/app/index.scss';

.button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 33px;
    gap: 10px;

    width: 340px;
    height: 50px;

    background: #000000;
    border-radius: 5px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    color: $background-primary;

    cursor: pointer;

    &:disabled {
        background: $strokes-primary-second;
        color: $background-secondary;

        cursor: auto;
    }

    &:hover:not(&:disabled) {
        color: #d5d5d5;
    }

    &:focus {
        outline: $error;
        border: 4px solid $error;
    }
}
