.grid {
    display: grid;
    grid-template-rows: 80px 1fr 72px;
    min-height: 100vh;
}

@media screen and (max-width: 640px) {
    .grid footer {
        position: fixed;
        bottom: 0;

        width: 100%;

        height: 72px;
    }
}
