@import '@/app/index.scss';

.form {
    box-sizing: border-box;

    width: 400px;
    height: 317px;

    padding: 30px;

    background-color: $background-primary;
    border: 1px solid $strokes-secondary;
    border-radius: 5px;

    &__title {
        margin: 0;

        width: 340px;
        height: 42px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;
    }

    &__fieldset {
        padding-top: 25px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px;

        & button {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 640px) {
    .form {
        width: 100%;
        height: 100%;

        padding: 0;

        border: none;
        border-radius: 0;

        &__title {
            padding-left: 30px;
            padding-top: 30px;

            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 140%;
        }

        &__fieldset {
            & section,
            button {
                width: auto;
            }

            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;

            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
