.container {
    display: grid;
    grid-template-columns: auto 1fr;

    align-items: center;

    cursor: pointer;

    &:hover {
        background-color: #eee;

        transition: all 50ms ease-in-out;
    }
}

.credentials {
    display: grid;
    grid-template-columns: auto auto;

    text-align: right;
}

.avatar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.name {
    width: fit-content;

    padding-left: 20px;

    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    color: #000000;
}

.email {
    height: 26px;

    padding-left: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: #838383;
}
.container__email {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 640px) {
    .credentials {
        grid-template-columns: 1fr;
    }

    .container__email {
        display: flex;
        justify-content: flex-start;
    }
}
