@import '@/app/index.scss';

.logo {
    display: block;
    width: 80px;
    height: 50px;

    background-color: $logo-background;

    &__text {
        padding-top: 16.43px;
        padding-left: 8.24px;
    }
}
