.paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: #838383;

    &__link {
        color: #000;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
