.container {
    max-width: 800px;

    padding-right: 20px;
    padding-left: 20px;
}

.header {
    position: sticky;
    top: 80px;
    padding-top: 30px;
    background-color: white;

    word-break: break-all;

    z-index: 1;

    padding-bottom: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
